In [1]:
a = 10
b = 20
if a == 10 or b > 20:
    print("this is a valid statement")
elif a == 10 and b <=20 :
    print("This is also valid inside elif statement")
else: 
    print("This is not avalid statement")

this is a valid statement

In [2]:
First_name = input()
Last_name = input()

if First_name == 'Shivam' and Last_name == 'Jha':
    print("My fisrt name is {}".format(First_name) ,"and last name is {}".format(Last_name))
else:
    print("This is not my name")

Shivam
Jha
My fisrt name is Shivam and last name is Jha

In [6]:
initial_speed = 0
final_speed = 10

count = 1
while  initial_speed < final_speed:
    print("Speed is normal")
    count = count + 1
    if count == 5:
        break

Speed is normal
Speed is normal
Speed is normal
Speed is normal

In [13]:
i = 3
j = 6

while i < j:
    print(i)
    i = i + 1
else: 
    print("What is this ?")

3
4
5
What is this ?

In [5]:
pwd

'/Users/shivamjha/DataScience/FullStackDataScience'

In [19]:
notes = 5
i =1
j = 1
while i < notes:
    print(i)
    i+= 1
else: 
    while j < 2:
        print(i)
        j = j +1
    print("No 10 rs notes are available")

1
2
3
4
5
No 10 rs notes are available

In [23]:
s = "my name is shivamjha"
s

'my name is shivamjha'

In [26]:
s[11:2:-1]

's si eman'

In [29]:
s[::-1]

'ahjmavihs si eman ym'

In [30]:
s[2:-6]

' name is shi'

In [34]:
for i in s:
    if i == 'v':
        print("I got v as a string")
    print(i)

m
y

n
a
m
e

i
s

s
h
i
I got v as a string
v
a
m
j
h
a

In [36]:
for i in s:
    print(i)
else: 
    print("This is a else condition")

m
y

n
a
m
e

i
s

s
h
i
v
a
m
j
h
a
This is a else condition

In [125]:
n = 5
for i in range(n,0,-1):
    for j in range(0,n-i):
        print(' ', end ='')
        
    for j in range(2*i-1):
        print('*', end ='')
    print()

*********
 *******
  *****
   ***
    *

In [138]:
num = 5
m = 2 * num - 2
for i in range(num, -1,-1):
    for j in range(m,0,-1):
        print(end=" ")
    m = m +1
    for j in range(0,i+1):
        print('*', end =' ')
    print("")

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [160]:
n = 9
i = 0
while i < n:
    print(' '*(n-i-1) + '* '*(i+1))
    i = i+1

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *
* * * * * * * * *

In [159]:
pwd

'/Users/shivamjha/DataScience/FullStackDataScience'

In [161]:
l = ["shiv",34567,'sbjsbdljs',True,45+8j,[3,5,6,"jha"],6.78]
l

['shiv', 34567, 'sbjsbdljs', True, (45+8j), [3, 5, 6, 'jha'], 6.78]

In [163]:
l[5]

[3, 5, 6, 'jha']

In [168]:
l[8:3:-1]

[6.78, [3, 5, 6, 'jha'], (45+8j)]

In [32]:
s = "This is Shivam Jha"
s

'This is Shivam Jha'

In [33]:
len(s)

18

In [89]:
for i in range(len(s)):
    print(s[i])
    i = i + 1

T
h
i
s

i
s

S
h
i
v
a
m

J
h
a

In [42]:
pwd

'/Users/shivamjha/DataScience/FullStackDataScience'

In [53]:
'shivam' + 'jha'

'shivamjha'

In [54]:
'shivam' + ['jha', 3,4,5,6]

TypeError: can only concatenate str (not "list") to str

In [56]:
'sudh' * 6

'sudhsudhsudhsudhsudhsudh'

In [57]:
s

'This is Shivam Jha'

In [95]:
s.count('s')

2

In [83]:
s.find('Shivam')

8

In [86]:
for i in s.index("Shivam"):
    i = i + 1

TypeError: 'int' object is not iterable

In [94]:
b = s.find('Shivam')
for i in range(len('Shivam')):
    print(b + i)

8
9
10
11
12
13

In [104]:
s.split(',')

['This is Shivam Jha']

In [105]:
s.swapcase()

'tHIS IS sHIVAM jHA'

In [106]:
s

'This is Shivam Jha'

In [109]:
"@".join(s)

'T@h@i@s@ @i@s@ @S@h@i@v@a@m@ @J@h@a'

In [110]:
s

'This is Shivam Jha'

In [111]:
m = "  ndsklkldf    "
m

'  ndsklkldf    '

In [114]:
m.rstrip()

'  ndsklkldf'

In [165]:
a  = "we all are a part of Full Stack"
b = a.lower()
print('lower:', b )
c = a.count('a')
print('Count of a :',c)
for i in range(len('we all are a part of Full Stack')):
    if a[i]== 'a':
        print(i)
str = a.replace("a","iNeutron")
print('Replace a with iNeutron:',str)
print(a.split())

lower: we all are a part of full stack
Count of a : 5
3
7
11
14
28
Replace a with iNeutron: we iNeutronll iNeutronre iNeutron piNeutronrt of Full StiNeutronck
['we', 'all', 'are', 'a', 'part', 'of', 'Full', 'Stack']

In [116]:
a.lower()

'we all are a part of full stack'

In [118]:
a.count('a')

5

In [124]:
b = a.find('a')
b

3

In [161]:
len(a)

31

In [164]:
for i in range(len('we all are a part of Full Stack')):
    if a[i]== 'a':
        print(i)

3
7
11
14
28

In [155]:
b = a.replace("a","iNeutron")
b.split()

['we',
 'iNeutronll',
 'iNeutronre',
 'iNeutron',
 'piNeutronrt',
 'of',
 'Full',
 'StiNeutronck']

In [171]:
x = 4
y = 5

a = x < y
b = x > y
print(a)
print(b)
type(a)
type(b)

True
False

bool

In [166]:
#Make a list of each Boolean operator's truth tables 
#(i.e. every possible combination of Boolean values for the operator and what it evaluate ).

x = 4
y = 5

In [168]:
print("x == y:", x == y)
print("x != y:", x != y)
print("x < y:", x < y)
print("x > y:", x > y)
print("x <= y:", x <= y)
print("x >= y:", x >= y)

x == y: False
x != y: True
x < y: True
x > y: False
x <= y: True
x >= y: False

In [169]:
a = True
type(a)
 
b = False
type(b)

bool

In [174]:
(5 > 4) and (3 == 5)

False

In [177]:
not(5 > 4)

False

In [178]:
(5 > 4) or (3 == 5)

True

In [181]:
not ((5 > 4) or (3 == 5))

False

In [182]:
(True and True) and (True == False)

False

In [183]:
(not False) or (not True)

True

In [185]:
spam = 0

## from line number 4 to 5 is Block 1
if spam == 10:
    print('eggs')
    
## from line number 8 to 9 is Block 2
if spam > 5:
    print('bacon')
    
## from line number 12 to 15 is Block 2
else:
    print('ham')
    print('spam')
    print('spam')

ham
spam
spam

In [190]:
"""Write code that prints Hello if 1 is stored in spam, prints Howdy 
if 2 is stored in spam, and prints Greetings! if anything else is stored in spam.
"""

spam = 1
if spam == 1:            ## this condition will prints Hello if 1 is stored in spam
    print("Hello")
elif spam == 2:          ## this condition will prints Howdy if 2 is stored in spam
    print("Howdy")
else:                    ## this condition will prints Greetings! if anything is stored in spam
    print("Greetings!")

'Write code that prints Hello if 1 is stored in spam, prints Howdy \nif 2 is stored in spam, and prints Greetings! if anything else is stored in spam.\n'